@import "react-quill/dist/quill.snow.css";
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-container {
  display: flex;
  height: 100vh;
}

.form-section,
.graphic-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-section {
  padding: 30px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #404040;
  color: white;
  border: none;
  cursor: pointer;
}

.text-link {
  color: #404040;
}

button:hover {
  opacity: 0.8;
}

a {
  color: dodgerblue;
}

.confirm-password-input {
  margin: 0px !important;
  margin-top: 10px !important ;
  margin-bottom: 10px !important;
}

.password-input {
  margin: 0px !important;
  margin-top: 10px;
}

.ds-label {
  font-size: 16px;
  font-weight: bold;
}

.form-control:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}

.form-control,
.form-control,
.btn {
  border-radius: 0px !important;
  border: solid #404040 !important;
}
.btn-primary {
  background-color: #404040 !important;
}
.active > .page-link {
  background-color: #404040 !important;
  border-color: #404040 !important;
  color: white !important;
}

.page-link {
  color: #404040;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.ps-sidebar-container {
  background-color: white !important;
}
.ps-sidebar-root {
  border: none !important;
}
